* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-clr: rgba(105, 166, 238, 1);
}
body {
  background: rgb(148, 227, 241);
  background: linear-gradient(
    90deg,
    rgba(148, 227, 241, 1) 0%,
    rgba(105, 166, 238, 1) 100%
  );
  font-family: Roboto;
}

img {
  max-width: 100%;
}
section {
  max-width: 90%;
  margin: 50px auto;
  position: relative;
}
.title {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}
.title h2 {
  font-size: 12px;
  margin: 5px 0;
}
.grid__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.card {
  width: 200px;
  height: 149px;
  cursor: pointer;
}
.card .front,
.card .back {
  perspective: 600px;
  position: absolute;
  width: 200px;
  height: 149px;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.1);
}

.card .front {
  background: #fff;
  transform: rotateY(0deg);
}
.card .back {
  transform: rotateY(180deg);
}
/* flipping cards  */
.card .flip-front {
  transform: rotateY(180deg);
}
.card .flip-back {
  transform: rotateY(0deg);
}

/* Play Again button styles  */

.play__again {
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--main-clr);
  background: black;
  padding: 5px 20px;
  border-radius: 4px;
}

/* dark mode  */
.dark__mode {
  background: black;
}
.checkbox {
  position: absolute;
  top: -35px;
  right: 0;
}
#dark {
  display: none;
}
.dark {
  width: 80px;
  height: 40px;
  background: #fff;
  display: inline-block;
  border-radius: 22px;
  position: relative;
  cursor: pointer;
  border: none;
}
.dark::after {
  content: "";
  width: 40px;
  height: 40px;
  background: var(--main-clr);
  background-image: url("./images/sun.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  position: absolute;
  top: -1.5px;
  left: 0;
  border-radius: 50%;
  display: grid;
  place-content: center;
  line-height: 0;
  transition: all 0.6s ease;
}
#dark:checked + .dark::after {
  content: "";
  background: rgb(180, 9, 9);
  background-image: url("./images/night-mode.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(50px) rotate(360deg);
}

@media screen and (min-width: 1500px) {
  .card {
    width: 300px;
    height: 225px;
  }
  .card .front,
  .card .back {
    width: 300px;
    height: 225px;
  }
}
