* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general styles  */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input,
label {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* chrome, safari */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
input:focus {
  outline: none;
}
section {
  height: 100vh;
  position: relative;
  background: teal;
}
/* container styles  */
.container {
  background: rgba(0, 0, 0, 0.5);
  width: 25%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff;
  padding: 20px;
}
.container .title h1 {
  text-align: center;
  padding-bottom: 15px;
}
.container .output {
  width: 95%;
  margin: 0 auto;
  padding: 3px;
  height: 40px;
  background: rgb(0, 42, 42);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffff;
}
.output p::-webkit-scrollbar {
  height: 4px;
}
.output p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: teal;
}
.output p::-webkit-scrollbar-track {
  background: none;
}

.container .output p {
  padding: 6px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}
.container .output #clipboard {
  border: none;
  cursor: pointer;
  border-radius: 2px;
  min-width: 35px;
  height: 100%;
  color: black;
  background: teal;
  margin-left: 6px;
}
.container .checkbox__div {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.container .checkbox__div #length {
  width: 12%;
}
.container #generator__btn {
  border: none;
  width: 100%;
  height: 35px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  background: teal;
}

@media screen and (max-width: 700px) {
  .container {
    width: 45%;
  }
}
